* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 2vw, 1.5rem);
  background-color: rgb(245, 245, 245);
}

header {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  translate: 0;
  z-index: 1000;
}
header .header__social-div {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0;
  background-color: rgb(34, 150, 243);
  align-content: center;
}
header .header__social-div ul {
  width: 30rem;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: flex-end;
  justify-self: end;
  list-style: none;
}
header .header__social-div ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  color: rgb(245, 245, 245);
}
header .header__social-div ul li a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
}
header .header__social-div ul li a:active {
  opacity: 1;
}
header .header__social-div ul li a i {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  font-size: calc(4rem / 1.5);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
header .header__social-div ul li a i:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(34, 150, 243);
}
header nav {
  width: 100%;
  height: auto;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
}
header nav div {
  width: auto;
  height: 5rem;
  padding: 0;
  margin: 0;
  align-content: center;
}
header nav div .a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: font-size 0.3s ease, opacity 0.3s ease;
}
header nav div .a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
  transform-origin: left center;
}
header nav div .a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
  opacity: 0.8;
}
header nav div .a:hover::after {
  width: 0;
}
header nav div .a:active {
  opacity: 1;
}
header nav .codecanvas-logo {
  width: auto;
}
@media (min-width: 768px) {
  header nav .codecanvas-logo {
    width: 25rem;
  }
}
header nav .codecanvas-logo a {
  text-decoration: none;
}
header nav .codecanvas-logo a h2 {
  font-family: "Fira Code", monospace;
  font-size: clamp(2.5rem, 2.5vw, 2rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: auto;
}
header nav .codecanvas-logo a h2 span {
  display: none;
}
@media (min-width: 768px) {
  header nav .codecanvas-logo a h2 span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    border-left: 0.2rem solid black;
    margin-left: 1rem;
    padding-left: 1rem;
    animation: none;
  }
  @keyframes erase {
    from {
      max-width: 100%;
    }
    to {
      max-width: 0;
    }
  }
  @keyframes typing {
    from {
      max-width: 0;
    }
    to {
      max-width: 100%;
    }
  }
}
header nav .codecanvas-logo a h2:hover {
  animation: erase 0.5s steps(20) forwards, typing 1.5s steps(20) 0.5s forwards;
}

footer {
  width: 100%;
  height: 21rem;
  padding: 1rem;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(auto-fit, auto);
  gap: 2rem;
  background-color: rgb(51, 51, 51);
  color: rgb(245, 245, 245);
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  align-content: center;
}
footer div {
  min-width: 28rem;
  max-width: 100%;
  min-height: auto;
  max-height: initial;
}
footer .codecanvas-logo a {
  text-decoration: none;
}
footer .codecanvas-logo a h2 {
  font-family: "Fira Code", monospace;
  font-size: clamp(2.5rem, 2.5vw, 2rem);
  font-weight: 700;
  color: rgb(245, 245, 245);
  letter-spacing: 0.2rem;
  margin: 0;
}
footer p {
  min-width: 28rem;
  max-width: fit-content;
  min-height: auto;
  max-height: auto;
  font-size: clamp(1.2rem, 1vw, 1rem);
  margin-bottom: 0;
}
footer ul {
  width: 28rem;
  height: auto;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
footer ul .a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: font-size 0.3s ease, opacity 0.3s ease;
  color: rgb(245, 245, 245);
}
footer ul .a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
  transform-origin: left center;
}
footer ul .a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
  opacity: 0.8;
}
footer ul .a:hover::after {
  width: 0;
}
footer ul .a:active {
  opacity: 1;
}
footer ul .a::after {
  background-color: rgb(245, 245, 245);
}
footer .footer__nav {
  justify-items: center;
  justify-self: center;
}
@media (min-width: 48rem) and (max-width: 76.7rem) {
  footer .footer__nav {
    justify-self: end;
  }
}
footer .footer__social {
  margin: 0 auto;
  justify-items: center;
}
footer .footer__social li a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  color: rgb(245, 245, 245);
  display: none;
}
footer .footer__social li a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
}
footer .footer__social li a:active {
  opacity: 1;
}
footer .footer__social li a i {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  font-size: calc(4rem / 1.5);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
footer .footer__social li a i:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(34, 150, 243);
}
footer .footer__social li a i:hover {
  color: rgb(51, 51, 51);
}
footer .footer__social a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  color: rgb(245, 245, 245);
}
footer .footer__social a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
}
footer .footer__social a:active {
  opacity: 1;
}
footer .footer__social a i {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  font-size: calc(4rem / 1.5);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
footer .footer__social a i:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(34, 150, 243);
}
footer .footer__social a i:hover {
  color: rgb(51, 51, 51);
}

h2 {
  font-size: clamp(2rem, 2vw, 1.5rem);
  margin-top: 0;
}

h3 {
  text-align: center;
  margin: 0;
  font-weight: initial;
  margin-bottom: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: none;
  border-radius: 1rem;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}
a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
}
a:active {
  opacity: 1;
}

p {
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  margin: 0;
}

.main__news-section {
  width: 100%;
  height: calc(100vh - 12rem);
  padding: 0 1rem;
  margin: 12rem 0 0 0;
  place-items: center;
  align-content: center;
  background-color: rgb(196, 204, 214);
  color: rgb(51, 51, 51);
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
}
.main__news-section .news-div {
  min-width: 30rem;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 48rem));
  grid-template-rows: 45vh;
  gap: 3rem;
  place-items: center;
}
@media (min-width: 144rem) {
  .main__news-section .news-div {
    grid-template-rows: 70vh;
  }
}
.main__news-section .news-div div {
  min-width: 22rem;
  max-width: 45rem;
  min-height: auto;
  max-height: 45rem;
  align-content: center;
}
.main__news-section .news-div div:nth-child(1) {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.main__news-section .news-div div:nth-child(1) h4 {
  margin: 0;
  margin-bottom: 3rem;
}
.main__news-section .news-div div:nth-child(1) .news-section__img {
  width: 90%;
  height: 65%;
  padding: 0;
  margin: 0;
  justify-self: center;
}
@media (min-width: 375px) {
  .main__news-section .news-div div:nth-child(1) .news-section__img {
    height: 75%;
  }
}
@media (min-width: 48rem) and (max-width: 76.7rem) {
  .main__news-section .news-div div:nth-child(1) .news-section__img {
    height: 85%;
  }
}
@media (min-width: extra_large) {
  .main__news-section .news-div div:nth-child(1) .news-section__img {
    height: 100%;
    width: 100%;
  }
}
.main__news-section .news-div div:nth-child(1) .news-section__img img {
  border-radius: 1.4rem;
}
.main__news-section .news-div div:nth-child(2) {
  width: 100%;
  height: 30rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-evenly;
}
.main__news-section .news-div div:nth-child(2) h3 {
  font-size: 2.2rem;
  margin: 0;
}
.main__news-section .news-div div:nth-child(2) p {
  font-weight: 500;
}
.main__news-section .news-div div:nth-child(2) a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: font-size 0.3s ease, opacity 0.3s ease;
  width: fit-content;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.main__news-section .news-div div:nth-child(2) a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
  transform-origin: left center;
}
.main__news-section .news-div div:nth-child(2) a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
  opacity: 0.8;
}
.main__news-section .news-div div:nth-child(2) a:hover::after {
  width: 0;
}
.main__news-section .news-div div:nth-child(2) a:active {
  opacity: 1;
}
.main__news-section .news-div div:nth-child(2) a::after {
  background: none;
}

.main__contact-section {
  width: 100%;
  height: 40rem;
  padding: 1rem;
  margin: 2rem auto 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: lightgrey;
}
.main__contact-section div {
  width: 30rem;
  height: auto;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.main__contact-section div i {
  font-size: 4rem;
  background: linear-gradient(45deg, rgb(34, 150, 243), rgb(76, 29, 149));
  color: rgb(245, 245, 245);
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.main__contact-section .contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15rem;
}
.main__contact-section .contact-div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 27rem;
  text-align: justify;
}
.main__contact-section .contact-div div a {
  margin: 0 2rem;
}

.main__blog-content {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 2rem auto;
}
.main__blog-content div {
  width: 90%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}
.main__blog-content div h3 {
  border-bottom: 0.1rem solid rgb(51, 51, 51);
  padding-bottom: 1rem;
}

.primary-button {
  background-color: rgb(34, 150, 243);
  color: rgb(245, 245, 245);
  border: 0.1rem solid rgb(34, 150, 243);
  border-radius: 1rem;
  padding: 1rem;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: fit-content;
  justify-self: center;
  margin-top: 3rem;
  display: block;
}
.primary-button:hover {
  background-color: #0c7cd6;
  border-color: #0c7cd6;
}
.primary-button:active {
  background-color: #0a6ebe;
  border-color: #0a6ebe;
}
.primary-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(34, 150, 243, 0.5);
}
.primary-button a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: font-size 0.3s ease, opacity 0.3s ease;
  color: rgb(245, 245, 245);
}
.primary-button a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
  transform-origin: left center;
}
.primary-button a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
  opacity: 0.8;
}
.primary-button a:hover::after {
  width: 0;
}
.primary-button a:active {
  opacity: 1;
}
.primary-button a::after {
  background-color: rgb(245, 245, 245);
}

.body__index {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main__index {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 12rem 0;
}
.main__index .main__div div:nth-child(1) {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main__index .main__div div:nth-child(1) img {
  border-radius: 0;
}
.main__index .main__div div:nth-child(2) {
  width: minmax(30rem, 60rem);
  height: 30rem;
  padding: 0;
  margin: 0;
  position: fixed;
  top: auto;
  right: auto;
  bottom: 30rem;
  left: 50%;
  translate: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(245, 245, 245);
  min-width: 30rem;
  max-width: 70rem;
  min-height: auto;
  max-height: auto;
  text-align: center;
}
.main__index .main__div div:nth-child(2) h3 {
  letter-spacing: 0.5rem;
  line-height: 2.7rem;
}
.main__index .main__div div:nth-child(2) button {
  background-color: rgb(34, 150, 243);
  color: rgb(245, 245, 245);
  border: 0.1rem solid rgb(34, 150, 243);
  border-radius: 1rem;
  padding: 1rem;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.main__index .main__div div:nth-child(2) button:hover {
  background-color: #0c7cd6;
  border-color: #0c7cd6;
}
.main__index .main__div div:nth-child(2) button:active {
  background-color: #0a6ebe;
  border-color: #0a6ebe;
}
.main__index .main__div div:nth-child(2) button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(34, 150, 243, 0.5);
}
.main__index .main__div div:nth-child(2) button a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  color: rgb(245, 245, 245);
}
.main__index .main__div div:nth-child(2) button a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
}
.main__index .main__div div:nth-child(2) button a:active {
  opacity: 1;
}

.main__blogs {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.main__blogs .main__blogposts-section {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 2rem auto 3rem;
  min-height: 110vh;
  max-width: 150rem;
  align-content: center;
  text-align: center;
}
.main__blogs .main__blogposts-section .blogposts-div {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 32rem));
  grid-template-rows: repeat(2, 48rem);
  gap: 3rem;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-around;
}
.main__blogs .main__blogposts-section .blogposts-div article {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin: 0;
  text-align: end;
}
.main__blogs .main__blogposts-section .blogposts-div article div {
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0 auto 1.4rem;
}
.main__blogs .main__blogposts-section .blogposts-div article div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: none;
  border-radius: 0.5rem;
}
.main__blogs .main__blogposts-section .blogposts-div article .blog-info {
  max-height: 37%;
  overflow: hidden;
}
.main__blogs .main__blogposts-section .blogposts-div article .blog-info p {
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  text-align: start;
  margin: 0;
  background: linear-gradient(to bottom, transparent, rgb(245, 245, 245) 20%);
  mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0));
}
.main__blogs .main__blogposts-section .blogposts-div article a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.6rem, 1.5vw, 1.4rem);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: font-size 0.3s ease, opacity 0.3s ease;
}
.main__blogs .main__blogposts-section .blogposts-div article a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
  transform-origin: left center;
}
.main__blogs .main__blogposts-section .blogposts-div article a:hover {
  font-size: calc(clamp(1.6rem, 1.5vw, 1.4rem) * 1.1);
  opacity: 0.8;
}
.main__blogs .main__blogposts-section .blogposts-div article a:hover::after {
  width: 0;
}
.main__blogs .main__blogposts-section .blogposts-div article a:active {
  opacity: 1;
}
.main__blogs .main__blogposts-section .blogposts-div article:nth-child(n+9) {
  display: none;
}
.main__blogs .main__blogposts-section div:nth-child(3) {
  min-width: 10rem;
  max-width: 11rem;
  min-height: auto;
  max-height: initial;
  justify-self: center;
  margin-top: 3rem;
}

.main__blog {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.main__blog .main__bpost-img-section {
  width: 100%;
  height: calc(100% - 12rem);
  padding: 1rem;
  margin: 14rem 0 0 0;
}
.main__blog .main__bpost-img-section div {
  width: 90%;
  height: 50vh;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 48rem) and (max-width: 76.7rem) {
  .main__blog .main__bpost-img-section div {
    height: 70vh;
  }
}
@media (min-width: 1100px) {
  .main__blog .main__bpost-img-section div {
    height: 80vh;
  }
}
.main__blog .main__bpost-img-section div img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main__blog-content {
  justify-content: center;
}
.main__blog-content .my-projects-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 32rem));
  grid-template-rows: repeat(1, 1fr);
  gap: 3rem;
  grid-auto-flow: row;
  width: 100%;
  height: auto;
  padding: 4rem 0;
  margin: 0;
  max-width: 105rem;
  justify-content: space-evenly;
  align-content: space-around;
  place-content: center;
  place-self: center;
  row-gap: 7rem;
  border-top: 0.1rem solid rgb(0, 0, 0);
}
@media (max-width: 47.9rem) {
  .main__blog-content .my-projects-div article:nth-child(n+4) {
    display: none;
  }
}
@media (min-width: 48rem) and (max-width: 76.7rem) {
  .main__blog-content .my-projects-div article:nth-child(n+5) {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main__blog-content .my-projects-div article:nth-child(n+7) {
    display: none;
  }
}
.main__blog-content .my-projects-div article {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */