.main__blog-content{
    justify-content: center;

    .my-projects-div{
        @include grid(auto-fill, minmax(28rem, 32rem), repeat(1, 1fr), 3rem, true);
        @include element(100%, auto, 4rem 0, 0);
        @include responsive(mobile){
            article:nth-child(n+4){
                display: none;
            }
        }
        @include responsive(tablet){
            article:nth-child(n+5){
                display: none;
            }
        }
        @include responsive(+1440px){
            article:nth-child(n+7){
                display: none;
            }
        }
        max-width: 105rem;
        justify-content: space-evenly;
        align-content: space-around;
        place-content: center;
        place-self: center;
        row-gap: 7rem;
        border-top: 0.1rem solid $black;

        article{
            width: 100%;
        }
    }
}