@import 'variables';
@import 'mixins';

*{box-sizing: border-box;
}
html{font-size: 62.5%;}
body{
    @include element(100%, auto, 0, 0);
    font-family: $primary-font;
    font-size: $medium-font-size;
    background-color: $gray-light;
}
