@import 'variables';
@import 'mixins';

header{
    @include element(100%, auto, 0, 0);
    @include grid(1, 1fr, repeat(2, 1fr), 0);
    @include fixed(fixed, 0, 0, auto, 0, 0);
    z-index: 1000;

    .header__social-div{
        @include element(100%, auto, 1rem, 0);
        background-color: $primary-color;
        align-content: center;

        ul{
            @include element(30rem, auto, 0, 0);
            @include flex(row, center, space-between);
            justify-items: flex-end;
            justify-self: end;
            list-style: none;

            li a {
                @include a-button();
                color: $gray-light;
                i{
                    @include social-icon
                }
            }
        }
    }
    nav{
        @include element(100%, auto, 0 1rem, 0);
        @include flex(row, center, space-between);
        background-color: $gray-light;

        div{
            @include element(auto, 5rem, 0, 0);
            align-content: center;
            
            .a{
                @include a();
            }
        }

        .codecanvas-logo{
            width: auto;
            @include responsive(768px){
                width: 25rem;
            }
            
            a{
                text-decoration: none;

                h2{
                @include font($code-font, $large-font-size, $bold, $black, 0.2rem);
                @include flex(row, center, space-between);
                margin: 0;
                width: auto;

                span{
                    @include responsive(768px){
                        @keyframes erase {
                            from { max-width: 100%; }
                            to { max-width: 0; }
                        }
                        @keyframes typing {
                            from { max-width: 0; }
                            to { max-width: 100%; }
                        }
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        max-width: 100%;
                        border-left: 0.2rem solid black;
                        margin-left: 1rem;
                        padding-left: 1rem;
                        animation: none;
                    }
                    display: none;
                }
                &:hover{
                    animation: erase 0.5s steps(20) forwards, typing 1.5s steps(20) 0.5s forwards;
                }
            }
        }
    }
}
}
footer{
    @include element(100%, 21rem, 1rem, 0);
    @include grid(1, 100%, repeat(auto-fit, auto), 2rem);
    background-color: $gray-dark;
    color: $gray-light;
    font-size: $regular-font-size;
    align-content: center;

    div{
        @include minmax(28rem, 100%, auto, initial);
    }

    .codecanvas-logo{
        a{
            text-decoration: none;

            h2{
            @include font($code-font, $large-font-size, $bold, $gray-light, 0.2rem);
            margin: 0;
            }
        }
    }
    p{
        @include minmax(28rem, fit-content, auto, auto);
        font-size: $small-font-size;
        margin-bottom: 0;
    }
    ul{
        @include element(28rem, auto, 0, 0 auto);
        @include flex(row, center, space-between);
        list-style: none;

        .a{
            @include a();
            &::after{
                background-color: $gray-light;
            };
            color: $gray-light;
        }
    }
    .footer__nav{
        justify-items: center;
        justify-self: center;

        @include responsive(tablet){
            justify-self: end;
        }
    }
    .footer__social{
        margin: 0 auto;
        justify-items: center;

        li a{
            @include a-button();
            color: $gray-light;
            i{
                @include social-icon();
                &:hover{
                    color: $gray-dark;
                }
            }
            display: none;
        }
        a{
            @include a-button();
            color: $gray-light;

            i{
                @include social-icon();
                &:hover{
                    color: $gray-dark;
            }
        }
    }
}
}
h2{font-size: $medium-font-size;
    margin-top: 0
}
h3{text-align: center;
    margin: 0;
    font-weight: initial;
    margin-bottom: 3rem;
}
img{
    @include img(100%, 100%, cover, center);
    border-radius: 1rem;
} 
a{
    @include a-button();
}
p{font-size: $regular-font-size;
    margin: 0;
}
 .main__news-section{
        @include element(100%, calc(100vh - 12rem), 0 1rem, 12rem 0 0 0);
        place-items: center;
        align-content: center;
        background-color: rgb(196, 204, 214);
        color: $gray-dark;
        font-size: $regular-font-size;
        
        .news-div{
            @include minmax(30rem, 100%, auto, 100%);
            @include grid(auto-fit, minmax(28rem, 48rem), 45vh, 3rem);
            @include responsive(xlarge){
                grid-template-rows: 70vh;
            }
            place-items: center;

            div{
                @include minmax(22rem, 45rem, auto, 45rem);
                align-content: center;
            }
        
            div:nth-child(1){
                @include element(100%, 100%, 0, 0);
                text-align: center;

                h4{margin: 0;
                    margin-bottom: 3rem;
                }
            
                .news-section__img{
                    @include element(90%, 65%, 0, 0);
                    @include responsive(375px){
                        height: 75%;
                    }
                    @include responsive(tablet){
                        height: 85%;
                    }
                    @include responsive(extra_large){
                        height: 100%;
                        width: 100%;
                    }
                    justify-self: center;
        
                    img{
                        border-radius: 1.4rem;
                    }    
                }
            }

            div:nth-child(2) {
                @include element(100%, 30rem, 0, 0);
                @include flex(column, initial, space-evenly);

                    h3{font-size: 2.2rem;
                        margin: 0;
                    }
                    p{font-weight: 500;}

                    a{
                        @include a();
                        width: fit-content;
                        background-color: $gray-light;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        &::after{
                            background: none
                        }
                    }
                }
            }
}
.main__contact-section{
    @include element(100%, 40rem, 1rem, 2rem auto 4rem);
    @include flex(row, center, space-evenly);
    flex-wrap: wrap;
    background-color: lightgrey;

    div{
        @include element(30rem, auto, 0, 0 auto);
        text-align: center;

        i{font-size: 4rem;
            background: linear-gradient(45deg, $primary-color, $secondary-color);
            color: $gray-light;
            border-radius: 50%;
            width: 7rem;
            height: 7rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
    .contact-div{
        @include flex(column, center, space-evenly);
        height: 15rem;
        
        div{
            @include flex(row, center, center);
            width: 27rem;
            text-align: justify;

            a{margin: 0 2rem;}
        }
    }
}
.main__blog-content{
    @include element(100%, auto, 1rem, 2rem auto);


    div{
        @include element(90%, auto, 0, 0 auto);

        h3{border-bottom: 0.1rem solid $gray-dark;
            padding-bottom: 1rem;
        }
    }
}
.primary-button{
    @include primary-button();
    width: fit-content;
    justify-self: center;
    margin-top: 3rem;
    display: block;

    a{
        @include a();
        &::after{
            background-color: $gray-light
        };
        color: $gray-light;
    }
}