.body__index{position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main__index{
    @include element(100%, 100%, 0, 12rem 0);

    .main__div{

        div:nth-child(1){
            @include element(100%, 100vh, 0, 0);

            img{
                border-radius: 0;
            }
        }
        div:nth-child(2){
            @include element(minmax(30rem, 60rem), 30rem, 0, 0);
            @include fixed(fixed, auto, auto, 30rem, 50%, -50%);
            @include flex(column, center, space-between);
            color: $gray-light;
            @include minmax(30rem, 70rem, auto, auto);
            text-align: center;
            
            h3{
                letter-spacing: .5rem;
                line-height: 2.7rem;
            }
            button{
                @include primary-button();
                a{
                    @include a-button();
                    color: $gray-light;
                }
            }
        }
    }
}
