// Brand Colors
$primary-color: rgb(34, 150, 243);
$secondary-color: rgb(76, 29, 149);
$tertiary-color: rgb(240, 240, 240);

// State and action colors
$success-color: rgb(39, 174, 96); 
$warning-color: rgb(241, 196, 15); 
$error-color: rgb(231, 76, 60);

// Neutral colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray-light: rgb(245, 245, 245);
$gray-dark: rgb(51, 51, 51);

// Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Inter', sans-serif;
$tertiary-font: 'Montserrat', sans-serif;
$code-font: 'Fira Code', monospace;

// Font sizes
$extra-large-font-size: clamp(3.5rem, 3vw, 2.5rem); 
$large-font-size: clamp(2.5rem, 2.5vw, 2rem); 
$medium-font-size: clamp(2rem, 2vw, 1.5rem); 
$regular-font-size: clamp(1.6rem, 1.5vw, 1.4rem); 
$small-font-size: clamp(1.2rem, 1vw, 1rem); 

// Font weights
$extra-bold: 900; 
$bold: 700;      
$medium: 500;   
$regular: 400;   
$light: 300;       

// Spacing
$spacing-xs: 0.4rem;  
$spacing-sm: 0.8rem;  
$spacing-md: 1.6rem; 
$spacing-lg: 2.4rem;  
$spacing-xl: 3.2rem;  
$spacing-xxl: 4.8rem;

// Margins

// Paddings
$section-padding: 3rem;

// Borders
$border-radius-sm: 0.4rem; 
$border-radius-md: 0.8rem; 
$border-radius-lg: 1.6rem;  

// Shadows
$box-shadow-light: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.1);  
$box-shadow-medium: 0px 0.4rem 1rem rgba(0, 0, 0, 0.2); 
$box-shadow-heavy: 0px 0.6rem 1.5rem rgba(0, 0, 0, 0.3);  

// Media queries breakpoints
$breakpoint-xs: 48rem;  
$breakpoint-sm: 76.8rem; 
$breakpoint-md: 102.4rem;  
$breakpoint-lg: 120rem;
$breakpoint-xl: 144rem;
